.about {
  display: flex;
  height: 80vh;
  padding: 8rem 3rem 0;
}

.leftAbout {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}

.leftAbout > :nth-child(1) {
  color: var(--blue);
  font-weight: bold;
  font-size: 3rem;
}

.leftAbout > :nth-child(2) {
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  line-height: 1.8rem;
  width: 97%;
}

.leftAbout > :nth-child(3) {
  display: flex;
  margin-top: 2rem;
  color: rgb(121, 121, 121);
  font-weight: 300;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.leftAbout button {
  background: var(--blue);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.2);

  transition: transform 100ms ease;
}

.leftAbout button:hover {
  background: var(--darkBlue);
  transform: scale(1.05);
  box-shadow: 0px 5px 7px 4px rgba(0, 0, 0, 0.2);
}

.rightAbout {
  display: flex;
  flex: 1;
  margin-left: 4rem;
}

.skills {
  width: 100%;
}

.container {
  margin-top: 2.5rem;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), inset 5px 5px 5px #bfc3cb,
    inset -5px -5px 5px #ffffff;

  transition: all 200ms ease;
}

.container:hover {
  box-shadow: inset 5px 5px 5px #bfc3cb, inset -5px -5px 5px #ffffff;
  transform: scale(1.05);
}

.bar {
  padding: 10px 15px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  background: var(--blue);
}

.bar:hover {
  background: var(--darkBlue);
}

.html {
  width: 90%;
  border-radius: 50px;
}

.css {
  width: 82%;
  border-radius: 50px;
}

.js {
  width: 88%;
  border-radius: 50px;
}

.react {
  width: 85%;
  border-radius: 50px;
}

.illustrator {
  width: 90%;
  border-radius: 50px;
}

.photoshop {
  width: 80%;
  border-radius: 50px;
}
