.about {
  display: flex;
  height: 90vh;
  padding: 8rem 2rem 0;
}

.left-about {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}

.left-about > :nth-child(1) {
  color: var(--blue);
  font-weight: bold;
  font-size: 3rem;
}

.left-about > :nth-child(2) {
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  line-height: 1.8rem;
  width: 97%;
}

.left-about > :nth-child(3) {
  display: flex;
  margin-top: 2rem;
  color: rgb(121, 121, 121);
  font-weight: 300;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.left-about button {
  background: var(--blue);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.2);

  transition: transform 100ms ease;
}

.left-about button:hover {
  background: var(--darkBlue);
  transform: scale(1.05);
  box-shadow: 0px 5px 7px 4px rgba(0, 0, 0, 0.2);
}

.left-about button:active {
  animation: press 0.5s 1 linear;
}

.right-about {
  display: flex;
  flex: 1;
  margin-left: 4rem;
}

.skills {
  width: 100%;
}

.container {
  margin-top: 2.5rem;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), inset 5px 5px 5px #bfc3cb,
    inset -5px -5px 5px #ffffff;

  transition: all 200ms ease;
}

.container:hover {
  box-shadow: inset 5px 5px 5px #bfc3cb, inset -5px -5px 5px #ffffff;
  transform: scale(1.05);
}

.bar {
  padding: 10px 15px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  background: var(--blue);
}

.bar:hover {
  background: var(--darkBlue);
}

.html {
  width: 90%;
  border-radius: 50px;
}

.css {
  width: 82%;
  border-radius: 50px;
}

.js {
  width: 88%;
  border-radius: 50px;
}

.react {
  width: 85%;
  border-radius: 50px;
}

.illustrator {
  width: 90%;
  border-radius: 50px;
}

.photoshop {
  width: 80%;
  border-radius: 50px;
}

@media screen and (max-width: 1000px) {
  .about {
    height: 35rem;
    padding: 2rem 1rem 0;
  }

  .left-about > :nth-child(2) {
    font-size: 16px;
  }

  .left-about > :nth-child(3) {
    margin-top: 1rem;
    gap: 1rem;
  }

  .right-about {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .about {
    flex-direction: column-reverse;
    height: 70rem;
    padding: 1rem 2rem;
  }

  .left-about {
    align-items: center;
    margin-bottom: 4rem;
  }

  .left-about > :nth-child(1) {
    text-align: center;
  }

  .left-about > :nth-child(2) {
    font-size: 18px;
    width: 80%;
    text-align: center;
  }

  .left-about > :nth-child(3) {
    justify-content: center;
  }

  .right-about {
    margin-left: 0;
    justify-content: center;
  }

  .skills {
    width: 80%;
  }

  .container {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .left-about > :nth-child(2) {
    font-size: 18px;
    width: 100%;
    text-align: justify;
  }

  .left-about > :nth-child(3) {
    width: 100%;
  }

  .left-about > :nth-child(3) > * {
    width: 100%;
  }

  .left-about button {
    width: 100%;
  }

  .skills {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .about {
    padding: 1rem;
  }

  .left-about {
    margin: 2rem 0 4rem;
  }

  .left-about > :nth-child(1) {
    font-size: 2rem;
  }

  .left-about > :nth-child(2) {
    font-size: 16px;
    line-height: 1.6rem;
  }

  .left-about > :nth-child(3) {
    flex-direction: column;
  }
}
