.home {
  display: flex;
  height: 77vh;
  padding-top: 10rem;
  gap: 1.5rem;
}

.left-home {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  margin-top: 5rem;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.welcome > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 4rem;
}

.welcome > :nth-child(2) {
  color: var(--blue);
  font-weight: bold;
  font-size: 3rem;
}

.icons {
  margin-top: 6rem;
  display: flex;
  gap: 2.5rem;
}

.icons svg {
  font-size: 3rem;
  color: var(--blue);

  transition: all 100ms ease;
}

.icons svg:hover {
  cursor: pointer;
  color: var(--darkBlue);
  transform: scale(1.1);
}

.icons svg:active {
  animation: press 0.5s 1 linear;
}

.right-home {
  flex: 1;
  position: relative;
}

.right-home > * {
  position: absolute;
  z-index: 1;
}

.right-home > img {
  transform: scale(0.55);
  left: -38%;
  bottom: -42%;

  transition: transform 500ms ease;
}

.right-home > img:hover {
  transform: scale(0.6);
}

.floating-card {
  justify-content: space-around;
  display: flex;
  background: white;
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  align-items: center;
  padding: 5px 30px;
  gap: 2rem;
  bottom: 15%;
  right: 40%;

  transition: transform 500ms ease;
}

.floating-card > img {
  width: 5rem;
  transform: scale(0.8);
}

.floating-card > span {
  font-size: 18px;
}

.floating-card:hover {
  transform: scale(1.05);
}

.blur1 {
  background: rgb(29, 52, 128);
  position: absolute;
  width: 20rem;
  height: 10rem;
  border-radius: 40%;
  z-index: -9;
  bottom: 15%;
  left: 40%;
  filter: blur(120px);
}

.blur2 {
  background: rgb(29, 52, 128);
  position: absolute;
  width: 15rem;
  height: 10rem;
  border-radius: 50%;
  z-index: -9;
  top: 35%;
  right: 50%;
  filter: blur(150px);
}

@media screen and (max-width: 1000px) {
  .home {
    gap: 1rem;
  }

  .left-home {
    margin-top: 3rem;
  }

  .welcome > :nth-child(1) {
    font-size: 3rem;
  }

  .welcome > :nth-child(2) {
    font-size: 2rem;
  }

  .right-home > img {
    transform: scale(0.45);
    left: -75%;
    bottom: -35%;
  }

  .right-home > img:hover {
    transform: scale(0.5);
  }

  .floating-card {
    padding: 5px 25px;
    gap: 1.5rem;
    bottom: 32%;
    right: 30%;
  }

  .blur1 {
    width: 16rem;
    height: 8rem;
    bottom: 25%;
    left: 45%;
  }

  .blur2 {
    width: 12rem;
    height: 8rem;
    top: 0%;
    right: 55%;
  }
}

@media screen and (max-width: 800px) {
  .home {
    flex-direction: column;
    height: 60rem;
    padding-top: 10rem;
    gap: 0;
  }

  .left-home {
    margin-top: 0;
  }

  .welcome > :nth-child(1) {
    font-size: 4rem;
  }

  .welcome > :nth-child(2) {
    font-size: 3rem;
  }

  .right-home > img {
    left: -20%;
  }

  .blur1 {
    left: 50%;
    filter: blur(80px);
  }

  .blur2 {
    right: 50%;
    filter: blur(80px);
  }
}

@media screen and (max-width: 600px) {
  .welcome > :nth-child(1) {
    font-size: 3.5rem;
  }

  .welcome > :nth-child(2) {
    font-size: 2.5rem;
  }

  .icons {
    margin-top: 4rem;
  }

  .right-home > img {
    left: -50%;
  }
}

@media screen and (max-width: 450px) {
  .home {
    height: 55rem;
  }

  .welcome {
    text-align: center;
  }

  .welcome > :nth-child(1) {
    font-size: 2.8rem;
  }

  .welcome > :nth-child(2) {
    font-size: 1.8rem;
  }

  .icons {
    justify-content: center;
  }

  .right-home > img {
    transform: scale(0.35);
    left: -87%;
  }

  .right-home > img:hover {
    transform: scale(0.4);
  }

  .floating-card {
    padding: 5px 15px;
    gap: 1rem;
    bottom: 50%;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  }

  .floating-card > img {
    width: 4rem;
  }

  .floating-card > span {
    font-size: 14px;
  }

  .blur1 {
    width: 12rem;
    height: 5rem;
    bottom: 40%;
  }

  .blur2 {
    width: 7rem;
    height: 5rem;
    top: -10%;
    right: 60%;
  }
}

@media screen and (max-width: 360px) {
  .home {
    height: 45rem;
  }

  .welcome > :nth-child(1) {
    font-size: 2.5rem;
  }

  .welcome > :nth-child(2) {
    font-size: 1.5rem;
  }

  .icons {
    margin-top: 3rem;
  }

  .icons svg {
    font-size: 2.5rem;
  }

  .right-home > img {
    transform: scale(0.25);
    left: -120%;
    bottom: -50%;
  }

  .floating-card {
    padding: 3px 10px;
    gap: 0.5rem;
    bottom: 65%;
  }

  .floating-card > img {
    width: 3.5rem;
  }

  .floating-card > span {
    font-size: 14px;
  }

  .blur1 {
    width: 10rem;
    height: 5rem;
    bottom: 60%;
  }

  .blur2 {
    width: 5rem;
    height: 5rem;
    top: -25%;
    right: 60%;
  }
}
