.card {
  width: fit-content;
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  transition: all 100ms ease;
}

.card img {
  width: 25rem;
}

.card-content {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;

  transition: all 700ms ease;
}

.card:hover {
  transform: scale(1.05);
  margin: 0 0.6rem;
}

.card:hover .card-content {
  transform: translateY(0);
  opacity: 1;
}

h2 {
  margin-bottom: 1.5rem;
  width: 70%;
  text-align: center;
}

.button {
  display: flex;
  gap: 3rem;
  align-items: center;
}

button {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  background: var(--blue);
  border-radius: 15px;
  border: none;

  transition: transform 100ms ease;
}

button:hover {
  background: var(--darkBlue);
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .card {
    /* overflow: visible; */
    display: flex;
    flex-direction: column;
  }

  .card-content {
    background: white;
    opacity: 1;
    position: relative;
    padding: 0.5rem 0 2rem;
    transition: none !important;
    transform: none !important;
  }

  h2 {
    width: 90%;
    font-size: 22px;
    margin-bottom: 2rem;
  }

  .card img {
    width: 22rem;
  }
}
