.navbar {
  height: 10vh;
  width: 100%;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  position: fixed;
  top: 0;
}

.left-nav {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.right-nav {
  display: flex;
  flex: 2;
  align-items: center;
  margin-right: 7rem;
  font-weight: 500;
}

.menu-list {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu-list ul {
  display: flex;
  gap: 6rem;
  list-style-type: none;
}

.menu-list ul li {
  transition: all 300ms ease;
}

.menu-list ul li:hover {
  cursor: pointer;
  color: var(--darkBlue);
  font-weight: bold;
}

.menu-list ul li:active {
  animation: press 0.5s 1 linear;
}

@media screen and (max-width: 1000px) {
  .menu-list ul {
    gap: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 0.5rem 2rem;
  }

  .right-nav {
    margin-right: 5rem;
  }

  .menu-list ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0.3rem 0;
  }

  .left-nav {
    justify-content: center;
  }

  .name {
    font-size: 1.5rem;
  }

  .right-nav {
    display: none;
  }
}
