.navbar {
  height: 10vh;
  width: 100%;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
}

.leftNav {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.rightNav {
  display: flex;
  flex: 2;
  align-items: center;
  font-weight: 500;
}

.menuList {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menuList ul {
  display: flex;
  gap: 6rem;
  margin-right: 7rem;
  list-style-type: none;
}

.menuList ul li {
  transition: all 300ms ease;
}

.menuList ul li:hover {
  cursor: pointer;
  color: var(--darkBlue);
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .leftNav {
    justify-content: center;
  }

  .name {
    font-size: 2rem;
  }

  .rightNav {
    display: none;
  }
}
