:root
{
  --lightBlue: #86BEDA;
  --blue: #006DB2;
  --darkBlue: #004987;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}
  